* {
  box-sizing: border-box;
}

.contenedor {
  background: #dd2121;
  width: 90%;
  margin: auto;
  border: 5px solid #2c3e50;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.col-large-3 {
  background: yellow;
}

.elemento {
  color: black;
  background: #0c6ceb;
  text-align: center;
  margin: 100px;
  padding: 40px;
  font-size: 40px;
}

/*------------small-----------*/
@media (min-width: 576px) {
  .col-small-1 {
    width: 8.33%;
  }
  .col-small-2 {
    width: 16.66%;
  }
  .col-small-3 {
    width: 25%;
  }
  .col-small-4 {
    width: 33.33%;
  }
  .col-small-5 {
    width: 41.66%;
  }
  .col-small-6 {
    width: 50%;
  }
  .col-small-7 {
    width: 58.33%;
  }
  .col-small-8 {
    width: 66.66%;
  }
  .col-small-9 {
    width: 75%;
  }
  .col-small-10 {
    width: 83.33%;
  }
  .col-small-11 {
    width: 91.66%;
  }
  .col-small-12 {
    width: 100%;
  }
}

/*-------------medium-----------*/
@media (min-width: 768px) {
  .col-medium-1 {
    width: 8.33%;
  }
  .col-medium-2 {
    width: 16.66%;
  }
  .col-medium-3 {
    width: 25%;
  }
  .col-medium-4 {
    width: 33.33%;
  }
  .col-medium-5 {
    width: 41.66%;
  }
  .col-medium-6 {
    width: 50%;
  }
  .col-medium-7 {
    width: 58.33%;
  }
  .col-medium-8 {
    width: 66.66%;
  }
  .col-medium-9 {
    width: 75%;
  }
  .col-medium-10 {
    width: 83.33%;
  }
  .col-medium-11 {
    width: 91.66%;
  }
  .col-medium-12 {
    width: 100%;
  }
}

/*--------large--------*/
@media (min-width: 992px) {
  .col-large-1 {
    width: 8.33%;
  }
  .col-large-2 {
    width: 16.66%;
  }
  .col-large-3 {
    width: 25%;
  }
  .col-large-4 {
    width: 33.33%;
  }
  .col-large-5 {
    width: 41.66%;
  }
  .col-large-6 {
    width: 50%;
  }
  .col-large-7 {
    width: 58.33%;
  }
  .col-large-8 {
    width: 66.66%;
  }
  .col-large-9 {
    width: 75%;
  }
  .col-large-10 {
    width: 83.33%;
  }
  .col-large-11 {
    width: 91.66%;
  }
  .col-large-12 {
    width: 100%;
  }
}
